<div class="leftSide">
  <a ui-sref="form.members" class="next-button">
    <img src="../images/previous.png" width="200px">
  </a>
</div>
<div class="container form middlePart">

  <!-- project Title -->
  <div class="form-group">
    <label>Project Title</label> (300 characters max.)
    <div>
      <p><input maxlength="300" ng-model="record.projectTitle" type="text" required></p>
    </div>
  </div>

  <table width="100%">
  <!-- Project beggining date, min value is set for "Today" in the formController -->
  <!-- and is reformated to correspond to a date field -->
    <td class="inTwo">
      <div class="form-group" >
        <label>Project Start Date</label>
        <p><input type="date" ng-model="record.projectStartDate"  min= {{date|date:'yyyy-MM-dd'}} required></p>
      </div>
    </td>
    <td class="inTwoEmptySeparator">
    </td>
    <!-- Project end date, min value is set for the value of the projectStartDate -->
    <!-- and is reformated to correspond to a date field -->
    <td class="inTwo">
      <div class="form-group">
        <label>Project End Date</label>
        <p><input type="date" ng-model="record.projectEndDate" min= {{record.projectStartDate|date:'yyyy-MM-dd'}} required></p>
      </div>
    </td>
  </table>

  <!-- TODO -->
  <!-- Task selection -->
  <div class="form-group" id="task">
    <label>Tasks</label>
  </div>


  <!-- Tag selection -->
  <div class="form-group">
    <label>Project Key Words</label>
    <div>
      <ui-select
      multiple
      tagging
      tagging-label=" (Add this tag)"
      ng-model="record.tags"
      theme="bootstrap"
      sortable="true">
      <ui-select-match placeholder="Click to select">{{$item}}</ui-select-match>
      <ui-select-choices repeat="tag in availableTags | filter:$select.search">
        {{tag}}
      </ui-select-choices>
    </ui-select>
  </div>
</div>

<div class="form-group">
  <label>Executive Summary</label> (1000 characters max.)
  <div>
    <p><input maxlength="1000" ng-model="record.executiveSummary" type="text" required></p>
  </div>
</div>

<div class="form-group">
  <label>Impact Statement</label> (1000 characters max.)
  <div>
    <p><input maxlength="1000" ng-model="record.impactStatement" type="text" required></p>
  </div>
</div>

<div class="form-group">
  <label>Benefit to Community</label> (500 characters max.)
  <div>
    <p><input maxlength="500" ng-model="record.benefitToCommunity" type="text" required></p>
  </div>
</div>

<div class="form-group">
  <label>Scientific Summary</label> (2000 characters max.)
  <div>
    <p><input maxlength="2000" ng-model="record.scientificSummary" type="text" required></p>
  </div>
</div>

<div class="form-group">
  <label>Technological Summary</label> (2000 characters max.)
  <div>
    <p><input maxlength="2000" ng-model="record.technologicalSummary" type="text" required></p>
  </div>
</div>

<div class="form-group">
  <label>Publications</label>
    <publication-picker></publication-picker>
</div>


<div class="form-group">
<!-- TODO: Multiple inputs -->
  <label>Related Projects</label>
  <related-project-picker></related-project-picker>
</div>


</div>
<div class="rightSide">
  <a ui-sref="form.deliverables" class="next-button">
    <img src="../images/next.png" width="200px">
  </a>
</div>
