<div class="container form middlePart">
  <deliverable-picker></deliverable-picker>
</div>

<script>
function show(img){
  img.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByTagName("div")[0].style.display="";
  img.parentNode.getElementsByTagName("img")[1].style.display="";
  img.style.display="none";
  resetBubble();
}

function hide(img){
  img.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByTagName("div")[0].style.display="none";
  img.parentNode.getElementsByTagName("img")[0].style.display="";
  img.style.display="none";
  resetBubble();
}
</script>
<script>
updateLinks("requirements","review");
</script>
