<div class="container form middlePart">
  <deliverable-picker></deliverable-picker>
</div>

<script>

function show(img){
  img.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByTagName("div")[0].style.display="";
  img.parentNode.getElementsByTagName("span")[1].style.display="inline";
  img.style.display="none";
  resetBubble();
}

function hide(img){
  img.parentNode.parentNode.parentNode.parentNode.parentNode.getElementsByTagName("div")[0].style.display="none";
  img.parentNode.getElementsByTagName("span")[0].style.display="inline";
  img.style.display="none";
  resetBubble();
}
</script>
<script>
updateLinks("requirements","review");
</script>
