<!-- form.html -->
<div>
  <div>
    <div id="form-container">
      <div class="page-header text-center">
        <!-- the links to our nested states using relative paths -->
        <!-- add the active class if the state matches our ui-sref -->
        <div id="status-buttons" class="text-center">
          <a href="#/form/" id="prev" class="pN" ng-class="{hideOld: hasPrev=='none'}"><span><<</span>Previous</a>
          <a ui-sref-active="active" ui-sref=".type"><span>1</span>Type</a>
          <a ui-sref-active="active" ui-sref=".members"><span>2</span> Members</a>
          <a ui-sref-active="active" ui-sref=".definitions"><span>3</span>Definition</a>
          <a ui-sref-active="active" ui-sref=".deliverables"><span>4</span>Deliverables</a>
          <a ui-sref-active="active" ui-sref=".summary"><span>5</span>Summary</a>
          <a href="#/form/" id="next" class="pN" ng-show="hasNext!=null"><span>>></span> Next</a>
        </div>
      </div>

      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="signup-form" ng-submit="processForm()">
        <div class="leftSide" style="visibility:hidden">
          <!-- placeholder  -->
          placeholder
        </div>

        <!-- our nested state views will be injected here -->
        <div id="form-views" ui-view>
        </div>

        <div class="rightSide" id="rightSide">
          <div id="bubble" class="bubble">
          </div>
        </div>
        <div>
        <input id="N" type="hidden" ng-model="hasNext">
        <input id="P" type="hidden" ng-model="hasPrev"></div>

      </form>
    </div>
  </div>
</div>

<script>
function updateLinks(prev,next){
  resetBubble();
  document.getElementById('P').value = prev;
  document.getElementById('N').value = next;
  document.getElementById('prev').href = '#/form/'+prev;
  document.getElementById('next').href = '#/form/'+next;
}
</script>
