<!-- form.html -->
<div>
<div>
    <div id="form-container">
        <div class="page-header text-center">
            <!-- the links to our nested states using relative paths -->
            <!-- add the active class if the state matches our ui-sref -->
            <div id="status-buttons" class="text-center">
                <a href=".type" id="prev" class="pN"><span><<</span>Previous</a>
                <a ui-sref-active="active" ui-sref=".type"><span>1</span>Type</a>
                <a ui-sref-active="active" ui-sref=".members"><span>2</span> Members</a>
                <a ui-sref-active="active" ui-sref=".definitions"><span>3</span>Definition</a>
                <a ui-sref-active="active" ui-sref=".deliverables"><span>4</span>Deliverables</a>
                <a ui-sref-active="active" ui-sref=".summary"><span>5</span>Summary</a>
                <a href=".type" id="next" class="pN"><span>>></span> Next</a>
            </div>
        </div>

        <!-- use ng-submit to catch the form submission and use our Angular function -->
        <form id="signup-form" ng-submit="processForm()">
          <div class="leftSide" style="visibility:hidden">
        		<!-- placeholder  -->
        		 placeholder
        	</div>
            <!-- our nested state views will be injected here -->
            <div id="form-views" ui-view></div>

            <div class="rightSide" id="rightSide">
              <div id="bubble" class="bubble">
              </div>
            </div>

        </form>

    </div>


</div>
</div>

<!-- show our formData as it is being typed -->
<pre>
    {{ record }}
</pre>

<script>
function updateLinks(prev,next){
  document.getElementById('prev').href = '#/form/'+prev;
  document.getElementById('next').href = '#/form/'+next;
}
</script>
