<div class="container form middlePart">
  <!-- principal Investigator -->
  <div class="form-group" onclick="updateBubble(this,'Select the leader of this project.')">
    <label>Project Leader</label>
    <div style="width:720px">
      <input type="text" ng-model="record.pi">
      <single-user-select></single-user-select>
      </div>
  </div>

<!-- Co-principal Investigator -->
<div class="form-group" onclick="updateBubble(this,'Select the co-leader of this project if there is one.')">
  <label>Project Co-Leader</label>
  <div style="width:720px">
    <input type="text" ng-model="record.copi">
    <single-user-select></single-user-select>
    </div>
</div>

<!-- Members -->
<div class="form-group" onclick="updateBubble(this,'Select all the members of this project(Do not add the leader and co-leader).')">
  <label>Members</label>
  <div style="width:720px">
    <input type="text" ng-model="record.members">
    <multi-user-select></multi-user-select>
    </div>
</div>

</div>

<script>
updateLinks("type","definitions");
</script>
