<div class="requirementList" data-ng-model="record.requirements">
  <label>Requirements
  </label>
    <div ng-repeat="svPair in record.requirements">
      <input type="checkbox" class="plusMinus" ng-required="record.projectType >= 2" ng-model="svPair.open">
      <label ng-hide="svPair.open">{{svPair.title}}</label>
      <div ng-show="svPair.open">
          <div ng-show="record.projectType >= 1" onclick="updateBubble(this,'Title of the requirement')">
             Title
              <input type="text" class="form-control" ng-required="record.projectType >= 2" ng-model="svPair.title" maxlength="300">
          </div>
          <br /><div ng-show="record.projectType >= 1" onclick="updateBubble(this,'Type of the requirement.')">
              Type
              <ui-select
              ng-required="record.projectType >= 2" ng-model="svPair.type"
              theme="bootstrap"
              sortable="true">
              <ui-select-match placeholder="Select the type">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="type in availableRequirements | filter:$select.search">
                {{type.name}}
              </ui-select-choices>
              </ui-select>
            </div>
            <br />
            <div ng-show="record.projectType >= 1" onclick="updateBubble(this,'Define the requirements')">
               Requirement definition
                <textarea class="form-control" ng-required="record.projectType >= 2" ng-model="svPair.requirement" placeholder={{svPair.type.desc}} maxlength="300"></textarea>

            </div>
            <br />
            <div ng-show="record.projectType >= 1" onclick="updateBubble(this,'Define which feature is missing.')">
               Feature of interest
                <textarea class="form-control" ng-required="record.projectType >= 2" ng-model="svPair.feature" placeholder='Define which feature is missing.' maxlength="300"></textarea>

            </div>

<div ng-show="record.projectType >= 1" >
<label>Describe expected input data</label>
            <div class="p10" data-ng-model="svPair.input">
              <div ng-repeat="h in svPair.input">
                <input type="checkbox" class="plusMinus" ng-required="record.projectType >= 2" ng-model="h.open">
                <label ng-hide="h.open">{{h.tag}}</label>
                <div ng-show="h.open">
                  <!--<pre>{{ngModel|json}}</pre>-->
                  Tag
                  <input type="text" ng-required="record.projectType >= 2" ng-model="h.tag" class="form-control">
                  <br />
                  Format
                  <ui-select
                  ng-required="record.projectType >= 2" ng-model="svPair.format"
                  theme="bootstrap"
                  sortable="true">
                  <ui-select-match placeholder="Select the format">{{$select.selected}}</ui-select-match>
                  <ui-select-choices repeat="type in availableFormats | filter:$select.search">
                    {{type}}
                  </ui-select-choices>
                  </ui-select>
                  <br />
                  <table width="100%"><tr>
                  <td class="inTwo">
                    Number of artefacts
                    <input type="number" class="form-control" ng-required="record.projectType >= 2" ng-model="h.number" min="0"  ng-show="record.projectType >= 1" onclick="updateBubble(this,'Number of artefacts.')">
                  </td>
                  <td class="inTwoEmptySeparator">
                  </td>
                  <td class="inTwo">
                    Size of artefacts
                    <input type="number" class="form-control" ng-required="record.projectType >= 2" ng-model="h.size" min="0"  ng-show="record.projectType >= 1" onclick="updateBubble(this,'Size of artefacts.')">

                </td></tr></table>
                <div button type="button" class="close" aria-label="Remove" ng-click="deleteInput(h,svPair)">
                <span aria-hidden="true">&times;</span>
              </div>
                <hr/>
                </div>



              </div>
              <div class="btn btn-default" ng-click="addInput(svPair)">Add Input</div>
            </div>
          </div>
<br />
<div ng-show="record.projectType >= 1" >
            <label>Outputs</label>
                        <div class="p10" data-ng-model="svPair.output">
                          <div ng-repeat="h in svPair.output">
                            <input type="checkbox" class="plusMinus" ng-required="record.projectType >= 2" ng-model="h.open">
                            <label ng-hide="h.open">{{h.tag}}</label>
                            <div ng-show="h.open">
                              <!--<pre>{{ngModel|json}}</pre>-->
                              Tag
                              <input type="text" ng-required="record.projectType >= 2" ng-model="h.tag" class="form-control">
                              <br />
                              Format
                              <ui-select
                              ng-required="record.projectType >= 2" ng-model="svPair.format"
                              theme="bootstrap"
                              sortable="true">
                              <ui-select-match placeholder="Select the format">{{$select.selected}}</ui-select-match>
                              <ui-select-choices repeat="type in availableFormats | filter:$select.search">
                                {{type}}
                              </ui-select-choices>
                              </ui-select>
                              <br />
                              <table width="100%"><tr>
                              <td class="inTwo">
                                Number of artefacts
                                <input type="number" class="form-control" ng-required="record.projectType >= 2" ng-model="h.number" min="0"  ng-show="record.projectType >= 1" onclick="updateBubble(this,'Number of artefacts.')">
                              </td>
                              <td class="inTwoEmptySeparator">
                              </td>
                              <td class="inTwo">
                                Size of artefacts
                                <input type="number" class="form-control" ng-required="record.projectType >= 2" ng-model="h.size" min="0"  ng-show="record.projectType >= 1" onclick="updateBubble(this,'Size of artefacts.')">

                            </td></tr></table>
                            <div button type="button" class="close" aria-label="Remove" ng-click="deleteOutput(h,svPair)">
                            <span aria-hidden="true">&times;</span>
                          </div>
                            <hr/>
                            </div>



                          </div>
                          <div class="btn btn-default" ng-click="addOutput(svPair)">Add Output</div>
                        </div>
                      </div>


            <div>
                <div button type="button" class="close" aria-label="Remove" ng-click="deleteRequirement(svPair)">
                    <span aria-hidden="true">&times;</span></div>

            </div>
        </div>
        <hr>
    </div>
</div>
<div class="btn btn-default" ng-click="addRequirement()">Add a requirement</div>
