<div class="container form middlePart">

  <!-- project Title -->
  <div class="form-group" onclick="updateBubble(this,'Write down the title of this project. <br />Maximum 300 characters.')">
  <label>Project Title</label> (300 characters max.)
  <div>
    <p>
      <input maxlength="300" ng-model="record.projectTitle" type="text" required>
    </p>
  </div>
</div>

<table width="100%">
  <!-- Project beggining date, min value is set for "Today" in the formController -->
  <!-- and is reformated to correspond to a date field -->
  <td class="inTwo" onclick="updateBubble(this,'Select the date of the begining of this project.<br />The date can not precede the current date.')">
  <div class="form-group">
    <label>Project Start Date</label>
    <p>
      <input class="form-control" type="date" ng-model="record.projectStartDate" min= {{date|date:'yyyy-MM-dd'}} required>
    </p>
  </div>
</td>
<td class="inTwoEmptySeparator">
</td>
<!-- Project end date, min value is set for the value of the projectStartDate -->
<!-- and is reformated to correspond to a date field -->
<td class="inTwo">
  <div class="form-group" onclick="updateBubble(this,'Select the date of the ending of this project.<br />The date can not precede the begining date.')">
  <label>Project End Date</label>
  <p>
    <input class="form-control" type="date" ng-model="record.projectEndDate" min= {{record.projectStartDate|date:'yyyy-MM-dd'}} required>
  </p>
</div>
</td>
</table>

<!-- TODO -->
<!-- New project? -->
<div class="form-group" id="new_project" onclick="updateBubble(this,'Is this project new or does it continue a previous project?')">
  <label>New project?</label>
  <br />
  <input type="radio" name="new_project" value="true" ng-model="record.newproject"> Yes
  <br />
  <input type="radio" name="new_project" value="false" ng-model="record.newproject"> No
  <br />

</div>

<!-- TODO -->
<!-- Old project specification-->
<div class="form-group" id="old_project" ng-class="{hideOld: record.newproject=='true'}">
  <!-- project Title -->
  <div class="form-group" onclick="updateBubble(this,'Specify the name of the previous project that this project extends.')">
    <label>Previous Project Title</label> (300 characters max.)
    <div>
      <p>
        <input maxlength="300" ng-model="record.previousProject.title" type="text" required>
      </p>
    </div>
  </div><!-- project Title -->
  <div class="form-group"  onclick="updateBubble(this,'Specify the ID of the previous project that this project extends.')">
    <label>Previous Project ID</label>
    <div>
      <p>
        <input ng-model="record.previousProject.title" type="text" required>
      </p>
    </div>
  </div><!-- project Title -->
  <div class="form-group" onclick="updateBubble(this,'Specify the name of the Principal Investigator of the previous project that this project extends.')">
    <label>Previous Project Principal Investigator</label>
    <div>
      <p>
        <input ng-model="record.previousProject.title" type="text" required>
      </p>
    </div>
  </div>
</div>

<!-- Grants selection -->
<!-- Do it like tags with a set of grants -->
<div class="form-group" id="grants"  onclick="updateBubble(this,'Select the grants that fund this project.<br />If the required grant is not in the list, you can add it.')">
<label>Add grants supporting this project</label>
<div>
  <ui-select
  multiple
  tagging
  tagging-label=" (Add this grant)"
  ng-model="record.grants"
  theme="bootstrap"
  sortable="true">
  <ui-select-match placeholder="Click to select">
    {{$item}}
  </ui-select-match>
  <ui-select-choices repeat="grant in availableGrants | filter:$select.search">
    {{grant}}
  </ui-select-choices>
</ui-select>
</div>
</div>

<!-- Task selection -->
<!-- Do it like dependencies with filter such as the provided choices -->
<!-- are list of task from the set of tasks of the selected grants -->
<div class="form-group" id="task"  onclick="updateBubble(this,'Select the tasks from the selected grants that recieve contribution from this project.')">
  <label>Tasks related to the Grants</label>
  <div>
    <ui-select
    multiple
    ng-model="record.tasks"
    theme="bootstrap"
    sortable="true">
    <ui-select-match placeholder="Click to select">{{$item.name}}</ui-select-match>
    <ui-select-choices repeat="tasks in availableTasks | filter:$select.search | taskFilter : record.grants ">
      {{tasks.name}} - <i>{{tasks.grant}}</i>
    </ui-select-choices>
  </ui-select>
</div>
</div>


<div class="form-group">
  <label>External Projects related to this Project</label>
  <related-project-picker></related-project-picker>
</div>


<!-- Tag selection -->
<div class="form-group" onclick="updateBubble(this,'Select tags for this project.<br />If the required tag is not in the list, you can add it.')">
<label>Project Key Words</label>
<div>
  <ui-select
  multiple
  tagging
  tagging-label=" (Add this tag)"
  ng-model="record.tags"
  theme="bootstrap"
  sortable="true">
  <ui-select-match placeholder="Click to select">{{$item}}</ui-select-match>
  <ui-select-choices repeat="tag in availableTags | filter:$select.search">
    {{tag}}
  </ui-select-choices>
</ui-select>
</div>
</div>

<div class="form-group" onclick="updateBubble(this,'Some summary.<br />Maximum 1000 characters.')">
<label>Executive Summary</label> (1000 characters max.)
<div>
  <textarea class="form-control" maxlength="1000" ng-model="record.executiveSummary" required>
  </textarea>
</div>
</div>

<div class="form-group" onclick="updateBubble(this,'Some summary.<br />Maximum 1000 characters.')">
<label>Impact Statement</label> (1000 characters max.)
<div>
  <textarea class="form-control" maxlength="1000" ng-model="record.impactStatement" required>
  </textarea>
</div>
</div>

<div class="form-group" onclick="updateBubble(this,'Some summary.<br />Maximum 500 characters.')">
<label>Benefit to Community</label> (500 characters max.)
<div>
  <textarea class="form-control" maxlength="500" ng-model="record.benefitToCommunity" required>
</textarea>
</div>
</div>

<div class="form-group" onclick="updateBubble(this,'Some summary.<br />Maximum 2000 characters.')">
<label>Scientific Summary</label> (2000 characters max.)
<div>
  <textarea class="form-control" maxlength="2000" ng-model="record.scientificSummary" required>
  </textarea>
</div>
</div>

<div class="form-group" onclick="updateBubble(this,'Some summary.<br />Maximum 2000 characters.')">
<label>Technological Summary</label> (2000 characters max.)
<div>
  <textarea class="form-control" maxlength="2000" ng-model="record.technologicalSummary" required>
  </textarea>
</div>
</div>

<div class="form-group">
  <label>Publications</label>
  <publication-picker></publication-picker>
</div>


<script>
updateLinks("members","requirements");
dateRefresh();
</script>
